<div class="container content" role="main">
    <div class="page-header">
        <div style="float: right;">
            <select (change)="translate.use($event.target.value)">
                <option value="es">Español</option>
                <option value="fr">France</option>
                <option value="en">English</option>

            </select>
        </div>

        <div class="container">
            <h1>Ruteo Simple</h1>
            <div class="navLinks">
                <a [routerLink]="['/home']">Home </a>
                <a [routerLink]="['/destino']">Destino </a>
            </div>
        </div>
    </div>
    <div class ="row">
        <h1>
            {{ title }} <br>
            <b [innerHTML]="'HOLA' | translate"></b>
            <!-- <b [innerHTML]="'MUNDO' | translate"></b> -->
        </h1>
    </div>
    <router-outlet></router-outlet>
</div>


<hr class="mb-5">

Fecha: {{ time | async }}